body {
  height: 10000px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 30px 0;
  z-index: 1000;
}

#header a {
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}

#header a:hover {
  text-decoration: none;
  color: aqua;
}

#header .menu_wrap {
  position: relative;
}

#header .menu_wrap .navbar-nav {
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* justify-content: flex-end; */
}

#header .menu_wrap .navbar-nav li a {
  display: inline-block;
  opacity: 0;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-animation: slideRight 0.5s ease-in-out forwards;
          animation: slideRight 0.5s ease-in-out forwards;
  -webkit-animation-delay: calc(0.2s * var(--i));
          animation-delay: calc(0.2s * var(--i));
}

@media (max-width: 767px) {
  #header .menu_wrap .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline-block;
    overflow: hidden;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 0px;
    top: 68px;
    right: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #header .menu_wrap .navbar-nav.active {
    height: 228px;
  }
}

#header .menu_wrap .btnbox {
  display: none;
}

@media (max-width: 767px) {
  #header .menu_wrap .btnbox {
    background-image: url("/img/Hamburger_icon.svg.png");
    background-size: cover;
    display: block;
    width: 38px;
    height: 100%;
    float: right;
  }
  #header .menu_wrap .btnbox.active {
    background-image: url("/img/x.png");
  }
}

#header .logo_area {
  line-height: 38px;
}

#header .navbar-right {
  float: right;
}

#header .nav li {
  padding: 7px 15px;
}

#home_banner_area .container {
  width: 100%;
  height: auto;
}

#home_banner_area .container .row .text {
  padding: 33% 0 10%;
}

#home_banner_area .container .row .animationText {
  width: 0em;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  -webkit-animation: typing 6s steps(12) infinite, caret 0.5s steps(1) infinite;
          animation: typing 6s steps(12) infinite, caret 0.5s steps(1) infinite;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 12em;
  }
  90% {
    width: 12em;
  }
  95% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 12em;
  }
  90% {
    width: 12em;
  }
  95% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#about_me_area {
  padding: 100px 0;
}

#about_me_area .container .text {
  height: 300px;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */