//變數
//每個section的上下padding
$section-padding: 100px 0;
$section-padding768: 60px 0;

body {
    background-color: whitesmoke;
    overflow-y: hidden;
    // height: 10000px;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv {
    display: none;
}

#header {
    position: fixed;
    top: 0;
    background-color: white;

    width: 100%;
    padding: 30px 0;
    z-index: 1000;
    a {
        color: black;
        transition: 0.5s;
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
        color: aqua;
        @media (max-width: 767px) {
            color: white;
        }
    }
    .menu_wrap {
        position: relative;

        .navbar-nav {
            transform: 0.5s;

            li {
                a {
                    display: inline-block;
                    opacity: 0;
                    transform: 0.5s;
                    transform: translateX(0px);
                    animation: slideRight 0.5s ease-in-out forwards;
                    animation-delay: calc(0.2s * var(--i));
                }
                @media (max-width: 767px) {
                    background-color: lightgrey;
                    border-bottom: 2px solid black;
                    transition: 1s;

                    &:last-child {
                        border-bottom: 0;
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                    &:hover {
                        background-color: aqua;
                    }
                }
            }

            flex-direction: row;
            /* justify-content: flex-end; */
            @media (max-width: 767px) {
                flex-direction: column;
                display: inline-block;
                overflow: hidden;
                background-color: white;
                position: absolute;
                width: 100%;
                height: 0px;
                top: 74px;
                right: 0;

                transition: 1s;
                &.active {
                    height: 238px;
                }
            }
        }

        .btnbox {
            display: none;
            @media (max-width: 767px) {
                background-image: url("/img/Hamburger_icon.svg.png");
                background-size: cover;
                display: block;
                width: 44px;
                height: 100%;
                float: right;

                &.active {
                    background-image: url("/img/x.png");
                }
            }
        }
    }

    .logo_area {
        line-height: 44px;
        font-size: 30px;
        opacity: 0;
        transform: 0.5s;
        transform: translateX(0px);
        animation: slideLeft 0.5s ease-in-out forwards;
        animation-delay: calc(0.2s * var(--i));
    }
    .navigation {
    }
    .navbar-right {
        float: right;
    }

    .nav {
        li {
            a {
                padding: 7px 15px;
            }
        }
    }
}

#home_banner_area {
    .container {
        width: 100%;
        height: auto;

        .row {
            .slider_content {
                padding: 50% 0 10%;

                @media (max-width: 991px) {
                    padding: 70% 0 10%;
                }
                h1 {
                    font-weight: bold;
                    &:first-child {
                        color: lightskyblue;
                    }
                }
                .animationText {
                    width: 0em;
                    overflow: hidden;
                    white-space: nowrap;
                    border-right: 3px solid;
                    animation: typing 6s steps(12) infinite, caret 0.5s steps(1) infinite;
                    @keyframes typing {
                        0% {
                            width: 0;
                        }
                        30% {
                            width: 12em;
                        }
                        90% {
                            width: 12em;
                        }
                        95% {
                            width: 0;
                        }
                        100% {
                            width: 0;
                        }
                    }
                    @keyframes caret {
                        50% {
                            border-color: transparent;
                        }
                    }
                }
            }

            .imgbox {
                position: relative;
                bottom: -100px;
                display: block;
                z-index: 9;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

#about_me_area {
    padding: $section-padding;
    @media (max-width: 768px) {
        padding: $section-padding768;
    }
    .container {
        .photoimg {
            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
        .text {
            padding-top: 5%;
            padding-left: 10%;
            height: 300px;
            h1 {
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }
}
#skill_area {
    padding: $section-padding;
    @media (max-width: 768px) {
        padding: $section-padding768;
    }
    //技能條
    .progress {
        height: 7px;
        background: #e3e3e3;
        border-radius: 0;
        box-shadow: none;
        margin: 40px 0 80px;
        overflow: visible;
        position: relative;
        .progress-title {
            padding: 7px 10px;
            margin: 0;
            background: #393a3d;
            border-radius: 5px 0 0 5px;
            box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            top: -13px;
            left: 0;
            z-index: 1;
            &:after {
                content: "";
                border-left: 17px solid #393a3d;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                position: absolute;
                top: 0;
                right: -17px;
            }
        }
        .progress-bar {
            box-shadow: none;
            border-radius: 0;
            position: relative;
            width: var(--w);
            opacity: 0;
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
                background: #fff;
                position: absolute;
                right: -5px;
                top: -6px;
            }

            &.active {
                opacity: 1;
                -webkit-animation: animate-positive 2s;
                animation: animate-positive 2s;
            }
        }
        .progress-value {
            width: 45px;
            height: 30px;
            line-height: 30px;
            border-radius: 3px;
            background: #393a3d;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            position: absolute;
            bottom: 30px;
            right: -17px;
            &:after {
                content: "";
                border-top: 7px solid #393a3d;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                position: absolute;
                bottom: -7px;
                left: 35%;
            }
        }
        &.green .progress-bar:after {
            border: 5px solid #21da9a;
        }

        &.pink .progress-bar:after {
            border: 5px solid #ff1170;
        }

        &.blue .progress-bar:after {
            border: 5px solid #294bdc;
        }

        &.yellow .progress-bar:after {
            border: 5px solid #ffa900;
        }
    }

    @-webkit-keyframes animate-positive {
        0% {
            width: 0;
        }
    }

    @keyframes animate-positive {
        0% {
            width: 0;
        }
    }
    //
}

#work_area {
    padding: $section-padding;
    @media (max-width: 768px) {
        padding: $section-padding768;
    }
    .portfolio_filter {
        width: 100%;
        ul {
            margin: 0px 0 40px;
            padding: 0;
            list-style: none;
            li {
                font-weight: 600;
                text-transform: capitalize;
                display: inline-block;
                cursor: pointer;
                padding: 4px 17px;
                font-size: 14px;
                transition: 0.5s;
                letter-spacing: 1px;
                background: #fff;
                margin: 0 3px 8px;
                border-radius: 30px;
                font-family: "glacial_indifferencebold";
                transition: 1s;

                &.active {
                    background-color: cyan;
                    color: red;
                }
            }
        }
    }
    .card {
        opacity: 0.1;
        transition: 0.5s;
        display: block;
        transform: scale(0);
        img{
            height: 63%;
        }
        .card-title{
            font-weight: bold;
        }
        

        &.active {
            opacity: 1;
            transform: scale(1);
        }
        &.none {
            transform: scale(0);
            display: none;
        }
    }
}
#resume_area {
    padding: $section-padding;
    @media (max-width: 768px) {
        padding: $section-padding768;
    }
    overflow: hidden;
    .title {
        margin-bottom: 50px;
    }
    .resume_title {
        margin-bottom: 15px;
        font-weight: bold;
        i {
            color: lightskyblue;
            font-size: 30px;
            margin-right: 15px;
        }
    }
    .single_resume {
        background: #fff;
        padding: 35px 30px;
        margin-bottom: 30px;
        border-radius: 4px;
        h3 {
            font-weight: bold;
        }
        .resume-designation {
            font-weight: 500;
            margin-bottom: 15px;
            display: block;
        }
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-150px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
